// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  font-family: 'Oxygen', sans-serif;
  color: #555;
  min-width: 300px
}

.appointments-form {
  display: inline-block;
  padding: 0 20px;
  position: fixed;
}

.appointments-form input[name='title'] {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.appointments-form input[type='submit'] {
  background-color: #8DB576;
  border: none;
  box-shadow: 3px 3px 3px #C9DF78;
  color: #FFF;
  font-size: 1.5em;
  margin: 15px 0;
  transition: 0.1s
}

.appointments-form input[type='submit']:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px #C9DF78;
  transform: translate(2px, 2px);
}

.appointments-form input:focus {
  outline: 3px solid #C9DF78 ;
}


.appointments-list {
  border-left: 2px solid grey;
  display: block;
  margin-left: 300px;
  max-width: 500px;
  padding-left: 20px;
  position: relative;
}

.appointment {
  border-bottom: 1px solid grey;
  margin-bottom: 60px;
}

@media screen and (max-width: 600px){

  .appointments-form  {
    display: block;
    padding: 10px 5px;
    position: static;
    min-width: 300px
  }

  .appointments-list {
    border: none;
    margin: 10px 0;
    padding: 10px 5px;
    min-width: 300px;
  }
}
